.tag .bgm-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  .tag-link {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

.bilibili-music-root {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
  height: 100%;
  height: 28px;
  border-top-right-radius: 520px;
  border-bottom-right-radius: 520px;
  border-left-style: solid;
  border-left-width: 0.2px;
  border-left-color: var(--text1);
  background: var(--graph_bg_regular);
  svg {
    fill: var(--brand_blue);
  }
  &:hover {
    svg {
      fill: var(--success_green);
    }
  }
}
